.app {
  width: 60%;
  height: 45%;
  margin: 0 auto;
  padding-top: 50px;
}

.child {
  margin: 5%;
  padding: 5%;
  box-shadow: 0 0 5px;
  border-radius: 5px;
  font-size: 28px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.title {
  text-align: center;
  margin-right: 10px;
}